<%= form_for(parking_meter) do |f| %>
  <% if parking_meter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_meter.errors.count, "error") %> prohibited this parking_meter from being saved:</h2>

      <ul>
      <% parking_meter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :lattitude %>
    <%= f.text_field :lattitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, ParkingMeter.statuses.keys %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
