<div class="layoutBanner">
  <h1>Fancy Placement Tool</h1>

  <%= render 'form', parking_meter: @parking_meter %>

 <style>
  #map {
    height: 300px;
    width: 75%;
    margin: 0px;
    padding: 0px;
  }

  #saveForm {
    margin-top: 10px;
  }
</style>
</div>

<div id="map"></div>
<div id="saveForm">
  <%= form_tag() do %>
    Latitude: <%= text_field_tag 'latitude', nil, readonly: true %></br>
    Longitude: <%= text_field_tag 'longitude', nil, readonly: true %></br>
    <%= submit_tag "Save" %>
  <% end -%>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.54596389579989, lng: -122.29019165039062},
      zoom: 15
    });

    google.maps.event.addListener(map, 'click', function submit_tag(e) {
      $('#latitude').val(e.latLng.lat());
      $('#longitude').val(e.latLng.lng());
    });
  }
</script>

<%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.30&callback=initMap' %>


<%= link_to 'Back', parking_meters_path %>
