<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lattitude</th>
      <th>Longitude</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_meters.each do |parking_meter| %>
      <tr>
        <td><%= parking_meter.name %></td>
        <td><%= parking_meter.lattitude %></td>
        <td><%= parking_meter.longitude %></td>
        <td><%= parking_meter.status %></td>
        <td><%= link_to 'Show', parking_meter %></td>
        <td><%= link_to 'Edit', edit_parking_meter_path(parking_meter) %></td>
        <td><%= link_to 'Destroy', parking_meter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>