<div class="form-group">
	<p>
		<%= f.radio_button :status, 'on' %>
		<%= f.label :status, 'Parking Meter On' %>
	</p>
	<p>
		<%= f.radio_button :status, 'off' %>
		<%= f.label :status, 'Parking Meter Off' %>
	</p>
	<p>
		<%= f.radio_button :status, 'out_of_service' %>
		<%= f.label :status, 'Parking Meter Out of Service' %>
	</p>
</div>